#!/usr/bin/make -f

export DH_VERBOSE = 1

VERSION := $(shell dpkg-parsechangelog -SVersion)
COMMIT_ID := $(shell echo $(VERSION) | sed -e 's/^[0-9]*://' -e 's/-[^-]*$$//')

%:
	dh $@ --with dkms

override_dh_auto_configure:
	dh_auto_configure
	sed "s/COMMIT_ID_VERSION/$(COMMIT_ID)/g" dkms.tmpl.conf > debian/dkms.conf

override_dh_auto_install:
	@echo "Skip dh_auto_install, as dh_dkms_install will stage the source files."
